fastapi
uvicorn
langchain_core
langchain
bs4
regex
pytz
python-dateutil
minio
langchain_community
chardet
cchardet
langchain_openai
pymilvus
google-api-core
google-api-python-client
httplib2
cohere
uuid6
langchain_experimental
jieba
matplotlib
selenium
jupyter
black